
@define-color mainbg #120d0c;
@define-color urgentred #f62817;
@define-color maintext #ffffff;
@define-color inactivetext #898686;
@define-color hoverbg #312c2b;


* {
    font-family: "JetBrainsMono Nerd Font Mono", "JetBrainsMonoNL Nerd Font", "Fira Code", monospace;
    font-weight: 600;
    font-size: 16px;
}

window#waybar {
    background: @mainbg;
}

#cpu, #memory, #network, #pulseaudio, #power-profiles-daemon, #custom-spotify, #battery, #idle_inhibitor, #tray, #hyprland-window, #clock {
    padding: 4px 10px;
    margin: 4px 4px;
    color: @maintext;
    border-radius: 4px;
}

#workspaces {
    border-radius: 0px;
    border: 0px;
    padding-left: 4px;
}

#workspaces button{
    color: @inactivetext;
    min-height: 22px;
    border: 0;
    border-radius: 4px;
    padding: 4px 4px;
    margin: 2px;
}

/* Hover glow */
#workspaces button:hover,
#network:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover {
    background-color: @hoverbg;
}

#workspaces button.active {
  /* color: rgba(255, 255, 255, 0.95); */
  color: @mainbg;
  background-color: @maintext;
  border-radius: 4px;
}

#workspaces button.urgent {
  background-color: @urgentred;
  color: @maintext
}

#clock {
    color: @mainbg;
    background: @maintext;
    margin-right: 4px;
}


