* {
    font-family: "JetBrainsMonoNL Nerd Font", "Fira Code", monospace;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
}

window#waybar {
    background: rgba(10, 10, 18, 0.88);
    border-top: 2px solid rgba(168, 85, 247, 0.70);
}

#workspaces, #cpu, #memory, #network, #pulseaudio, #temperature, #power-profiles-daemon, #custom-spotify, #backlight, #battery, #idle_inhibitor, #tray, #clock {
    background: rgba(0, 0, 0, 0);
    padding: 6px 12px;
    margin: 4px 6px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: #eaf2ff;
    text-shadow: none;
}

#workspaces button{
    color: rgba(234, 242, 255, 0.85);
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    padding: 2px 10px;
    margin: 0px 0px;
}

/* Hover glow */
#workspaces button:hover,
#network:hover,
#pulseaudio:hover {
    color: #22d3ff;
    border-bottom-color: rgba(34, 211, 255, 1.00);
    background-color: rgba(34, 211, 255, 0.14);
}

#memory,
#cpu {
    color: #eaf2ff;
}

#cpu {
    color: #22d3ff;
    border-bottom-color: rgba(34, 211, 255, 0.95);
}

#memory {
    color: #a855f7;
    border-bottom-color: rgba(168, 85, 247, 0.95);
}

#workspaces button.active {
  color: #a855f7;
  background-color: rgba(168, 85, 247, 0.18);
  border-bottom-color: rgba(168, 85, 247, 1.00);
  border-radius: 0px;
}


